body{
  text-align: center;
  margin-top: 100px;
}

.buttton{
    
    text-align: center;
    
}

#unu, 
#doi{
    text-align: center;
    margin: 2px;
    
}

#buton{
    margin-top: 5px;
}

#apasa{
    text-align: center;
    margin: 5px;
    
}

button{
    width: 100px;
    height: 50px;

}

input{
    height: 30px;
    font-size: large;
    font-weight: bold;
}

span{
    margin-top: 15px;
    color: red;
    font-weight: bold;
    font-size: larger;

}

label{
    font-size: larger;
    font-weight: bolder;
}

footer{
    margin-top: 6em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 21px;
    letter-spacing: 0.6px;
    word-spacing: 0.8px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
  }
  
  #an{
    margin-right: 10px;
  }

  a:link{
    text-decoration: none;
}