body{
  text-align: center;
  margin-top: 100px;
}

.buttton{
    
    text-align: center;
    
}

#unu, 
#doi{
    text-align: center;
    margin: 2px;
    
}

#buton{
    margin-top: 5px;
}

#apasa{
    text-align: center;
    margin: 5px;
    
}

button{
    width: 100px;
    height: 50px;

}

input{
    height: 30px;
    font-size: large;
    font-weight: bold;
}

span{
    margin-top: 15px;
    color: red;
    font-weight: bold;
    font-size: larger;

}

label{
    font-size: larger;
    font-weight: bolder;
}
