body{
  text-align: center;
  margin-top: 250px;
}




.buttton{
    
    text-align: center;
    
}

#unu, 
#doi{
    text-align: center;
    margin: 2px;
    
}

#p{
    border: 2px red;
}

#buton{
    margin-top: 5px;
}

#apasa{
    text-align: center;
    margin: 5px;
}

button{
    width: 100px;
    height: 50px;

}